{% extends 'main.html' %}
        {% block title %}
        <title> Доска объявлений</title>
        {% endblock %}
    {% block content %}
    <p><a href="{% url 'post_update' pk=post.pk %}"><button>Редактировать</button></a></p>
    <h1>{{ post.title}}</h1>
    {{ post.created|date:'d.m.y' }}
    <p>{{ post.content|safe }}</p>
    <hr>
    Отправил: {{ post.author }} <br>
    Категория: {{ post.get_category_display }} <br>
    <button style="float: leftt;"> <a href="{% url 'respond' pk=post.pk %}">Откликнуться</a></button>
    {% endblock content %}
