<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Объявления</title>
    </head>
    <body>
    {% block content %}
    {% if post_list %}
    {% for post in post_list %}
        <p><h2>{{ post.title }}</h2></p>
        <hr>
        <p>{{ post.content|safe }}</p>
        <p>Автор поста: {{ post.author }} <br>Категория {{ post.get_category_display }}</p>
        <hr>
    {% endfor %}
    {% else %}
        Объявлений нет
    {% endif %}
    {% endblock content %}
    </body>
</html>