{% extends 'main.html' %}
        {% block title %}
        <title> Доска объявлений</title>
        {% endblock title%}

    {% block content %}
    {% if user.is_authenticated %}
    <a href="{% url 'create_post' %}"><button> Создать пост </button></a>
    <a href="{% url 'response_list' %}"><button> Просмотреть отклики на посты </button></a>
    {% endif %}
    {% if post_list %}
    {% for post in post_list %}
        <p><h2>{{ post.title }}</h2></p>
        <hr>
        <p>{{ post.content|safe }}</p>
        <p>Автор поста: {{ post.author }} <br>Категория {{ post.get_category_display }}</p>
        <a href="{% url 'post_detail' pk=post.pk %}"><button>Подробнее...</button></a>
        <hr>
    {% endfor %}
    {% else %}
        Объявлений нет
    {% endif %}
    {% endblock content %}
